*{
    margin: auto;
    display:flex;
    flex-direction:column;
}
@font-face{
    font-family: Josefin Sans;
    src: url("font\JosefinSans.ttf");
    }  
body{
    Width:1440px;
    Height:880px;
    background-color: black;
    font-family: Josefin Sans;
}
article{
    color:gray
}
.Section-Header{
    display:flex;
    flex-direction:column;
    color:white;
}
.header{
    font-size:86px;
    font-weight:bold;
    display:flex;
    flex-direction:row;
    color:white;
}
.underlined{
    border-bottom: 10px solid #ff0000ca;
    margin-left: 32px;
}
.section-header article{
    font-size: 18px;
}
.Team-Members{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.Team-Members h1{
    color: white;
    font-size: 35px;
}
.Team-Members article{
    font-size: 16px;
}
img{
    width: 208px;
    height: 208px;
}
.row-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0px;
}
.row-down{
    display: flex;
    flex-direction: row;
}